.Chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: .3rem;
  padding: 5rem 1rem 1rem;
  justify-content: space-between;
  width: 50rem;
}

.Chat-content {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  margin-bottom: 1rem;
}

.Chat-message {
  border-radius: .3rem;
  padding: .5rem;
  margin-top: 1rem;
  max-width: 50%;
  min-width: 5rem;
  word-break: break-word;
}

.Chat-message--mine {
  align-self: flex-end;
  background-color: #79afe6;
  margin-right: .5rem;
  text-align: right;
}

.Chat-message--theirs {
  align-self: flex-start;
  background-color: #babfc5;
}

.Chat .Form {
  bottom: 1rem;
  height: 3rem;
  display: flex;
  width: 100%;
  padding: 0;
}

.Chat .Form textarea {
  border: 1px solid gray;
  border-radius: 0;
  box-shadow: none;
  font-family: inherit;
  margin-right: .5rem;
  flex-grow: 3;
  font-size: 1rem;
  padding: .5rem;
  overflow-wrap: break-word;
  resize: none;
}

.Chat .Button {
  background-color: #072A40;
  color: white;
  font-size: 1rem;
  flex-grow: 1;
}

@media only screen and (max-width: 824px) {
  .Chat {
    width: 100vw;
  }
}

@media only screen and (max-width: 425px) {
  .Chat-message--mine {
    margin-right: 0;
  }
}
