.Form {
  width: 20rem;
  padding: 0 1rem;
}

.Form-inputs {
  display: flex;
  flex-direction: column;
}

.Form-inputs input {
  box-sizing: border-box;
  height: 2.5rem;
  padding: 0 .5rem;
  margin-bottom: 1rem;
}

.Form-buttons {
  display: flex;
  justify-content: space-around;
}

.Form-buttons button:disabled {
  cursor: not-allowed;
}

.Form-buttons button:first-child {
  background-color: #ffcb2d;
  flex-grow: 2;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 1rem;
  justify-content: center;
}

.Form-buttons button img {
  margin-left: .3rem;
  width: 1rem;
}

.Form-error {
  margin-top: 1rem;
  color: red;
  font-size: .8rem;
}
