.Header {
  align-items: center;
  background-color: #79afe6;
  border-radius: .3rem .3rem 0 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 50rem;
}

.Header p {
  margin-left: 1rem;
}

.Header .Button {
  background-color: #072A40;
  color: white;
  font-size: 1rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 824px) {
  .Header {
    width: 100vw;
  }
}
